.flex-container-50 {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    align-items:center;
    width: 50%;
    overflow:hidden;
    padding-top:10px;
}

.flex-container-navigation {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: space-between;
    flex-direction: column;
    flex:1;
    padding-top:10px;
}


.flex-container-page{
    display: -webkit-flex;
    display: flex;
    align-items:stretch;
    width: 100%;
    height: 80%;
}
