body {
    background-image: url("../Resources/Images/vanguard_background.jpg");
    background-size: cover;
}

.van-90w {
    width: 90%;
    margin: auto;
}

.van-main-navigation {
    background-color: RGBA(86,11,255,0.4); /*#566FFF op 40% */
    color: white;
    text-decoration: underline;
    font-size: 21px;
    border-radius: 15px;
}

    .van-main-navigation:hover {
        background-color: RGBA(86,11,255,0.8);
        color: white;
        text-decoration: underline;
    }

.van-navbar {
    background-color: #FEC960;
    color: white;
}

    .van-navbar * {
        background-color: #FEC960;
        color: white !important;
        font-size: 21px;
    }

.van-spinner {
    -webkit-animation: spin 30s linear infinite;
    -moz-animation: spin 30s linear infinite;
    animation: spin 30s linear infinite;
}

.van-main-emblem {
    width: 30%;
    position:inherit;
    z-index:1;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
