
<div class="flex-news-container">
    @*col1*@
    <div class="flex-news-column">
        <div class="flex-news-row-main">
            <div class="van-news-img-main-container">
                <img src="~/Resources/Images/chronojet.png" class="van-news-img-main" />
            </div>

            <p>New Chronojet anounced. People are trying to kill GC players. Link Jocker players laugh.</p>
        </div>

        <div class="flex-news-row">
            <img src="~/Resources/Images/chronofang.jpg" class="van-news-img" />
            <p>
                New chronofang unit anounced. Chronofang tiger Z.
            </p>
        </div>
    </div>
    @*col2*@
    <div class="flex-news-column">
        <div class="flex-news-row">
            <img src="~/Resources/Images/chronofang.jpg" class="van-news-img" />
            <p>
                New chronofang unit anounced. Chronofang tiger Z.
            </p>
        </div>
        <div class="flex-news-row">
            <img src="~/Resources/Images/chronofang.jpg" class="van-news-img" />
            <p>
                New chronofang unit anounced. Chronofang tiger Z.
            </p>
        </div>
        <div class="flex-news-row">
            <img src="~/Resources/Images/chronofang.jpg" class="van-news-img" />
            <p>
                New chronofang unit anounced. Chronofang tiger Z.
            </p>
        </div>
    </div>
    @*col3*@
    <div class="flex-news-column">
        <div class="flex-news-row">
            <img src="~/Resources/Images/chronofang.jpg" class="van-news-img" />
            <p>
                New chronofang unit anounced. Chronofang tiger Z.
            </p>
        </div>
        <div class="flex-news-row">
            <img src="~/Resources/Images/chronofang.jpg" class="van-news-img" />
            <p>
                New chronofang unit anounced. Chronofang tiger Z.
            </p>
        </div>
        <div class="flex-news-row">
            <img src="~/Resources/Images/chronofang.jpg" class="van-news-img" />
            <p>
                New chronofang unit anounced. Chronofang tiger Z.
            </p>
        </div>
    </div>
</div>

